@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
       background-color: #eee;
       font-family: "Poppins", sans-serif;
       font-weight: 300;
       background: #23EC55;
       background: -webkit-radial-gradient(top right, #23EC55, #2D51C1);
       background: -moz-radial-gradient(top right, #23EC55, #2D51C1);
       background: radial-gradient(to bottom left, #23EC55, #2D51C1);
}

.wrapper {
       margin: 10vh;
}

.card {
       
       border: none;
       transition: all 100ms cubic-bezier(0.19, 1, 0.22, 1);
       overflow: hidden;
       display:inline-block;
       border-radius: 20px;
       min-height: 200px;
       box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
       
       @media (max-width: 768px) {
              min-height: 350px;
       }

       @media (max-width: 420px) {
              min-height: 300px;
       }
}

.height {
       height: 20vh;
}


.search {
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

       height: 60px;
       text-indent: 25px;
       border: 2px solid #d6d4d4;


}


.search input:focus {

       box-shadow: none;
       border: 2px solid blue;


}

.search .fa-search {

       position: absolute;
       top: 20px;
       left: 16px;

}

.search button {

       position: absolute;
       top: 5px;
       right: 5px;
       height: 50px;
       width: 110px;
       background: blue;

}

@media (max-width: 767px) {}




