
{% extends 'partials/base.html' %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- <input class="btn btn-info" type="submit" value="Make Prediction"> -->
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            value="Make Prediction">Search </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <form method="POST">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </nav>
                        <div class="input-group">
                            <div class="form-outline">
                                <input type="search" id="form1" class="form-control" />
                                <label class="form-label" for="form1">Search</label>
                            </div>
                            {% csrf_token %}
                            {{crispy }}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}